.HowAiWorks {
  padding-bottom: 100px;
}

.innerHowAiWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteLine {
  max-width: 520px;
  margin: 20px auto 0;
  justify-content: center;
  text-align: center;
}

.title {
  margin-top: 30px;
}

.blocks {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  justify-content: space-between;
  align-items: stretch;
}

.blocksItem {
  border: 1px solid var(--stroke-color);
  border-radius: 16px;
  padding: 16px;
  flex: 1;
  min-height: 140px;

  h3 {
    width: fit-content;
    font-family: var(--font-junicode);
    font-style: italic;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 120%;
    letter-spacing: -0.04em;
    background: var(--rainbow-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 10px 5px;
    margin: -10px -5px;
  }

  p {
    font-family: var(--font-switzer);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 120%;
    color: #2c2c2c;
  }
}

.button {
  margin-top: 30px;
}

.text {
  font-family: var(--font-switzer);
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 120%;
  text-align: center;
  color: var(--text-blue-color);
  max-width: 650px;
  margin-top: 15px;
}

@media (max-width: 750px) {
  .HowAiWorks {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .blocks {
    flex-direction: column;
    gap: 12px;
  }

  .whiteLine {
    margin-top: 0;
  }

  .title {
    margin-top: 20px;
  }

  .blocks {
    margin-top: 24px;
  }

  .button {
    margin-top: 25px;
  }

  .text {
    font-size: var(--font-size-xs);
  }
}
