.Smiles {
  padding-top: 100px;
  padding-bottom: 50px;

  @media (max-width: 750px) {
    padding-top: 150px;
  }
}

.innerSmiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: start;
  position: relative;

  .smilesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
    height: 100%;

    h3 {
      font-family: var(--font-basier), sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 135%;
      color: var(--text-dark-blue-color);
      margin-top: 24px;
    }

    p {
      font-family: var(--font-junicode);
      font-style: italic;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 120%;
      color: var(--text-dark-blue-color);
      margin-top: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border-right: 2px dashed var(--stroke-color);
    }

    &:nth-child(4n) {
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .innerSmiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .smilesBlock {
    padding: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      border-right: 2px dashed var(--stroke-color);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-bottom: 2px dashed var(--stroke-color);
    }

    &:nth-child(2n)::after {
      display: none;
    }

    &:nth-last-child(-n + 2)::before {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .innerSmiles {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .smilesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;

    border-bottom: 2px dashed var(--stroke-color);

    &::after {
      display: none !important;
    }

    &::before {
      display: none;
    }
  }

  .smilesBlock:last-child {
    border-bottom: none;
  }

  .smilesBlock h3 {
    font-size: 1.25rem;
  }

  .smilesBlock p {
    font-size: 1rem;
  }
}
